.front-page {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page {
    background-color: darkgrey;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
}